/vendor/
/.idea/
.phpunit.result.cache
composer.lock
workbench/functional/my-layer/
workbench/functional/my-auth-layer/
workbench/functional/test-layer/src/
workbench/functional/test-layer/database/factories/
workbench/functional/test-layer/database/seeders/
workbench/technical/